#top-banner {
  background-color: green;
  display: block;
  color: white;
//    font-family: $primary-font-stack 11px/18px;
  padding: 5px 10px;
  text-align: center;

  a {
    color: white;

    &:hover {
      background-color: #6B4B18;
      text-decoration: none;
    }
  }

}
